
<%= inicio_formulario( { :action => 'modificar', :id => @albaran }, false ) %>
    <%= hidden_field 'albaran', 'codigo' %>
    Cliente: <%= select( "albaran", "cliente_id", @clientes.map {|u| [u.nombre,u.id]} ) %>
    <%# f.date_select :fecha %>
    Fecha: <%= date_select('albaran', 'fecha') %>
<%= final_formulario %>

