
<%= inicio_formulario( { :action => 'modificar', :id => @albaran }, false ) %>
    <%= texto "Código", 'albaran', 'codigo' %>
    <%# f.date_select :fecha %>
    Fecha: <%= date_select('albaran', 'fecha') %>
<%= final_formulario %>

