config/database.yml

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
!/tmp/.keep
.idea
/public/assets/*
/public/cover/*
!/public/cover/missing_cover.jpg

# Ignore docker-compose env file
/.env
