<!-- FORMULARIO DE BACKUP-->
<fieldset>
  <%= form_tag( { :action => "seleccionar"}, :multipart => true, :class => "formulario" ) %>
  <div class="elemento_derecha"><%= submit_tag("Obtener Backup", :class => "boton1_2") %></div>
</fieldset>
</form>

