<!-- FORMULARIO DE BACKUP-->
<%= form_tag( { :action => "seleccionar"}, :multipart => true, :class => "formulario" ) %>
<div class="elementoderecha" <%= submit_tag(_("Obtener Backup"), :class => "boton1_2") %></div>
</form>

