<!--- Caja con info del filtrado --->

<% if cookies[("filtrado_fecha_inicio").to_sym] && cookies[("filtrado_fecha_fin").to_sym] != '' %>
  <fieldset id="filtro_libro_valores">
  <div class='linea' id="texto_filtrado">
      Filtro de fechas => desde "<%= cookies[("filtrado_fecha_inicio").to_sym] %>" hasta "<%= cookies[("filtrado_fecha_fin").to_sym] %>"
    </div>
  </fieldset>
<% end %>

