
<%= inicio_formulario( { :action => 'modificar', :id => @user }, false ) %>
  <div class="linea">
    <%= texto "Nombre", 'user', 'name' %>
    <%= texto "email", 'user', 'email' %>
  </div>
<%= final_formulario %>
