<p>
  <b>Nombre:</b>
  <%=h @proveedor.nombre %>
</p>

<p>
  <b>Cif:</b>
  <%=h @proveedor.cif %>
</p>


<%= link_to 'Edit', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Back', proveedors_path %>