development:
  adapter: mysql2
  socket: /var/run/mysqld/mysqld.sock
  database: tpv 
  username: tpv
  password: patata 
  encoding: utf8

production:
  adapter: mysql2
  socket: /var/run/mysqld/mysqld.sock
  database: tpv 
  username: tpv
  password: patata
  encoding: utf8

oscommerce:
  adapter: mysql2
  socket: /var/run/mysqld/mysqld.sock
  database: tpv_oscommerce 
  username: tpv
  password: patata
  encoding: utf8
