<div id="datos_externos" class="datos_externos">
  <div class="boton">
    <%# link_to_remote "Buscar imagen y descripción", :url => { :controller => :productos, :action => :update_datos_externos, :id => @producto.id, :codigo => @producto.codigo, :update => "datos_externos" },
		:loading => "Element.show('spinner')", :complete => "Element.hide('spinner')" %>
  </div>
  <div class="linea"><br/></div>

  <!-- Imagen del libro -->
  <%= render :partial => "datos_externos_imagen" %>

  <!-- Descripcion del libro -->
  <%= render :partial => "datos_externos_descripcion" %>
</div>
