<!--- Sublistado de proveedores de un producto --->

<%= cabecera_sublistado "Pedididos Realizados", ["fecha","codigo","factura.codigo","proveedor.nombre"], params[:update] %>
<% i = 0 %>
<% for objeto in @albaranes %>
  <div id="<%= params[:update] %>_proveedor_<%= (i += 1).to_s %>" class="fila" >
    <%= fila_sublistado objeto %>
  </div>
<% end %>
<%= final_sublistado %>
<br/>

