<div class="formulario_izq">
<% if @producto.codigo.nil? %>
<%= texto "Codigo o ISBN", 'producto', 'codigo' %>
  <%= observe_field( "formulario_campo_codigo", :frequency => 1, :update => "propiedades", :with => :codigo, :url => {:action => :libro_x_isbn_google, :id => @producto}, :before => "Element.show('spinner')", :success => "Element.hide('spinner')") %>
<% end %>

<%= render(:partial => "propiedades", :locals => { :producto => @producto, :producto_familia_id => @producto_familia_id }) %>
</div>
