<!--- Listado de productos --->

<% unless @movies.empty? %>
  <%= cabecera_listado ["nombre", "descripcion", "precio"] %>
  <% for producto in @productos %>
    <%= fila_listado producto%>
  <% end %>
  <%= final_listado @productos %>
<% end %>

<%= link_to 'Nuevo producto', new_productos_path %>
