<!-- Formulario de edicion de linea de albaran de deposito -->
<%= inicio_formulario( { :action => 'sustituir_producto', :update => params[:update], :albaran_linea_id => @albaran_linea, :albaran_id => @albaran_linea.albaran_id }, true ) %>
  <div class="linea">
    Nombre: <%= @albaran_linea.nombre_producto %>
  </div>
  <div class="linea">
    <%= selector "Cantidad", 'selector', 'cantidad', 1.upto(@albaran_linea.cantidad).map {|i| [i,i]}, nil, "" %>
  </div>
<%= final_formulario %>
