
<%= inicio_formulario( { :action => 'modificar', :id => @albaranlinea }, false ) %>
    <%= texto "Cantidad", 'albaranlinea', 'cantidad' %>
    <%= texto "Descuento", 'albaranlinea', 'descuento' %>
<%= final_formulario %>

