<p>
  <b>Cantidad:</b>
  <%=h @albaran_linea.cantidad %>
</p>

<p>
  <b>Descuento:</b>
  <%=h @albaran_linea.descuento %>
</p>


<%= link_to 'Edit', edit_albaran_linea_path(@albaran_linea) %> |
<%= link_to 'Back', albaran_lineas_path %>