.chosen-container {
    -moz-user-select: none;
    display: inline-block;
    font-size: 11px;
    position: relative;
    vertical-align: middle;
}
.chosen-container * {
    box-sizing: border-box;
}
.chosen-container .chosen-drop {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #aaa #aaa;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    left: -9999px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1010;
}
.chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
}
.chosen-container a {
    cursor: pointer;
}
/* Saca el desplegable hacia arriba en lugar de hacia abajo solo para filtros */
.filtro div .chosen-drop {
    bottom: 22px;
    top: auto !important;
}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
    color: #999999;
    font-weight: normal;
    margin-right: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen-container .search-choice .group-name::after, .chosen-container .chosen-single .group-name::after {
    content: ":";
    padding-left: 2px;
    vertical-align: top;
}
.chosen-container-single .chosen-single {
    background: rgba(0, 0, 0, 0) linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%) repeat scroll 0 0 padding-box;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    display: block;
    height: 25px;
    line-height: 15px;
    overflow: hidden;
    padding: 3 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    text-align: left;
}
.chosen-container-single .chosen-default {
    color: #999;
}
.chosen-container-single .chosen-single span {
    display: block;
    margin-right: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
    background: rgba(0, 0, 0, 0) url("/assets/chosen-sprite.png") no-repeat scroll -42px 1px;
    display: block;
    font-size: 1px;
    height: 11px;
    position: absolute;
    right: 24px;
    top: 4px;
    width: 12px;
}
.chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
}
.chosen-container-single .chosen-single div b {
    background: rgba(0, 0, 0, 0) url("/assets/chosen-sprite.png") no-repeat scroll 0 2px;
    display: block;
    height: 100%;
    width: 100%;
}
.chosen-container-single .chosen-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: 1010;
}
.chosen-single .chosen-search-input {
  display: none;
}
.chosen-container-single .chosen-search input[type="text"] {
    background: rgba(0, 0, 0, 0) url("/assets/chosen-sprite.png") no-repeat scroll 100% -20px;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 1em;
    height: auto;
    line-height: normal;
    margin: 1px 0;
    outline: 0 none;
    padding: 4px 20px 4px 5px;
    width: 100%;
}
.chosen-container-single .chosen-drop {
    background-clip: padding-box;
    border-radius: 0 0 4px 4px;
    margin-top: -1px;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    left: -9999px;
    position: absolute;
}
.chosen-container .chosen-results {
    color: #444;
    margin: 0 4px 4px 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 0 4px;
    position: relative;
}
.chosen-container .chosen-results li {
    display: none;
    line-height: 12px;
    list-style: outside none none;
    margin: 0;
    padding: 5px 6px;
    word-wrap: break-word;
}
.chosen-container .chosen-results li.active-result {
    cursor: pointer;
    display: list-item;
}
.chosen-container .chosen-results li.disabled-result {
    color: #ccc;
    cursor: default;
    display: list-item;
}
.chosen-container .chosen-results li.highlighted {
    background-color: #3875d7;
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-size: 100% auto;
    color: #fff;
}
.chosen-container .chosen-results li.no-results {
    background: #f4f4f4 none repeat scroll 0 0;
    color: #777;
    display: list-item;
}
.chosen-container .chosen-results li.group-result {
    cursor: default;
    display: list-item;
    font-weight: bold;
}
.chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}
.chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
}
.chosen-container-multi .chosen-choices {
    font-size: 9px;
    background-color: #fff;
    background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-size: 100% auto;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: text;
    /*height: auto !important;*/
    height: 25px;
    margin: 0;
    overflow: hidden;
    padding: 0 3px;
    position: relative;
    width: 100%;
}
.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: outside none none;
}
.chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    background: transparent none repeat scroll 0 0 !important;
    border: 0 none !important;
    border-radius: 3px;
    box-shadow: none;
    color: #999;
    font-size: 11px;
    height: 19px !important;
    margin: 1px 0;
    outline: 0 none;
    padding: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
    background-clip: padding-box;
    background-color: #eeeeee;
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-repeat: repeat-x;
    background-size: 100% 19px;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    cursor: default;
    line-height: 9px;
    margin: 3px 5px 2px 0;
    max-width: 100%;
    padding: 2px 20px 3px 5px;
    position: relative;
}
.chosen-container-multi .chosen-choices li.search-choice span {
    word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background: rgba(0, 0, 0, 0) url("/assets/chosen-sprite.png") no-repeat scroll -42px 1px;
    display: block;
    font-size: 1px;
    height: 10px;
    position: absolute;
    right: 3px;
    top: 2px;
    width: 12px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
    background-color: #e4e4e4;
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-size: 100% auto;
    border: 1px solid #ccc;
    color: #666;
    padding-right: 5px;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4 none repeat scroll 0 0;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
    background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
    color: #ccc;
    cursor: default;
    display: list-item;
}
.chosen-container-active .chosen-single {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-size: 100% auto;
    border: 1px solid #aaa;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
    background: transparent none repeat scroll 0 0;
    border-left: medium none;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #222 !important;
}
.chosen-disabled {
    cursor: default;
    opacity: 0.5 !important;
}
.chosen-disabled .chosen-single {
    cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
}
.chosen-rtl {
    text-align: right;
}
.chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
    direction: rtl;
    margin-left: 26px;
    margin-right: 0;
}
.chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px;
}
.chosen-rtl .chosen-single div {
    left: 3px;
    right: auto;
}
.chosen-rtl .chosen-single abbr {
    left: 26px;
    right: auto;
}
.chosen-rtl .chosen-choices li {
    float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
    direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    left: 4px;
    right: auto;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search, .chosen-rtl .chosen-drop {
    left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
    padding-left: 0;
    padding-right: 15px;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: medium none;
}
.chosen-rtl .chosen-search input[type="text"] {
    background: rgba(0, 0, 0, 0) url("/assets/chosen-sprite.png") no-repeat scroll -30px -20px;
    direction: rtl;
    padding: 4px 5px 4px 20px;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px;
}
@media not all, only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"], .chosen-container-single .chosen-single abbr, .chosen-container-single .chosen-single div b, .chosen-container-single .chosen-search input[type="text"], .chosen-container-multi .chosen-choices .search-choice .search-choice-close, .chosen-container .chosen-results-scroll-down span, .chosen-container .chosen-results-scroll-up span {
    background-image: url("/assets/chosen-sprite@2x.png") !important;
    background-repeat: no-repeat !important;
    background-size: 52px 37px !important;
  }
}
