/*
 popup.js
*/
div.popup {
  text-align: left;
  max-width: 600px;
  min-width: 300px;
  border: 1px solid #000;
  padding: 5px;
  background-color: white;
  /* The following properties should not be changed */
  position: absolute;
}

#popup_overlay {
  background-color: whitesmoke;
  /* The following properties should not be changed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

span.popup_link, a.popup_link {
  cursor: pointer;
  border-bottom: 0px dotted;
}

.popup_draghandle {
  cursor: move;
}
