body {
   text-align: center;
   margin: 0px 0px 0px 0px;
   font-size: 11px; /* el font-size no se puede tocar porque los truncates estan calculado con eso */

}

/**************************************************************************************************
  CONTENEDOR DE LA CABECERA Y EL PIE
**************************************************************************************************/

#cabecera {
  position: fixed;
  min-width: 1200px;
  width: 100%;
}

#pie {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #CACACA;
  z-index: 990;
  width: 100%;
  height: 20px;
  border-top-width: 1px;
  border-color: #000;
  border-top-style: groove;
}


#avisos {
  width:400px;
  height:10px;
  background-color: #fff;

  color: #f00;

  right: 0px;
  opacity: 0.85;
  position: absolute;
  top: -1px;
  z-index: 5000;
  border-top: 1px;

  /*text-align: center;*/
  padding: 5px;
}

#carousel-wrapper {
    width: 800px;
    height: 20px;
    overflow: hidden;
}
#carousel-content {
    width: 2500px;
}
#carousel-content .slide {
    float: left;
    padding-left: 5px;
    width: 800px;
    height: 20px;
    text-align: left;
    font-weight: bold;
}

.criticidad_1 a, .criticidad_1 a:link, .criticidad_1 a:visited {
  color: gray;
}
.criticidad_2 a, .criticidad_2 a:link, .criticidad_2 a:visited {
  color: #000;
}
.criticidad_3 a, .criticidad_3 a:link, .criticidad_3 a:visited {
  color: #f00;
}

#paginado {
  color:gray;
}

#paginado a:hover {
  color: black;
}

.current {
  color: black;
}

a, a:link, a:visited {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: grey;
}

.centro {
    clear:both;
    /* width:1014px; */
    width:1200px;
    margin:0 auto 0 auto;
    padding-top: 120px;
    background-color:#fff;
    text-align:left;
  }

.lateral {
    float: right;
}

.contenido {
    float: left;
}

.texto_filtrado {
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

.listado .listadofila, .filaDos, .filaDos{
    padding: 4 5 0 5;
    min-height: 20px;
    border-bottom:dotted 1px #ccc;
 }

.listadofila, .listadocabecera, .caja_completa, .linea {clear: both;}

.listado div:hover, .tabla div:hover {
 /* background-color:#FFFFDD;*/
background:#f5f5f5;
}


.listado{
margin-top:15px;
 /*border-bottom:dotted 1px #ccc;*/
}

.sublistado .fila, .sublistado_entradas .fila {
    padding: 3 3 0 3;
    border-bottom:dotted 1px #ccc;
    min-height: 20px;
 }

.sublistado, .sublistado_entradas {
  border:dotted 0px #ccc;
  /*margin-bottom: 10px;
  -moz-border-radius-bottomleft: 7px;
   -moz-border-radius-bottomright: 7px;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-topright: 7px;*/
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 4px;
  padding: 5px 15px 15px 15px;
  -moz-box-shadow: 2px 2px 4px  gray;
  -webkit-box-shadow: 2px 2px 4px  gray;
  box-shadow: 2px 2px 4px  gray;
  margin: 10 auto 10 auto;
}

.sublistado {
  width: 995px;
}

.sublistado_entradas {
  width: 920px;
}

.sublistado legend, .sublistado_entradas legend{
  font-weight:bold;
  padding: 5 0 5 0;
  color: gray;
  float: left;
}


.listadocabecera{
    padding: 3 3 0 3;
    border-bottom:dotted 1px #ccc;
    min-height: 20px;
    font-weight: bold;
    color: gray;

    text-decoration: none;
 }

.listadocabecera div a:link, .listadocabecera div a:visited, .listadocabecera div a  {
    color: gray;
    text-decoration: none;
}

.listado_derecha, .elemento_derecha { float: right;}

.listado_campo_2, .listado_campo_1, .listado_campo_2_3, .listado_campo_2_3f, .listado_campo_1_2, .listado_campo_1_3, .listado_campo_1_3d, .listado_campo_1_3f, .listado_campo_1_4, .listado_campo_1_4d, .listado_campo_1_4f, .listado_campo_1_5, .listado_campo_1_5d, .listado_campo_1_5f {
    float: left;
    font-size:11px;
    padding: 0 5 0 5;
    overflow: hidden;
    /* Esto lo ponemos para evitar los descuadres */
    height: 14px;
}

.listado_campo_2 { width:760px; }
.listado_campo_1 { width:340px; }
.listado_campo_2_3, .listado_campo_2_3f { width:160px; }
.listado_campo_1_2 { width:120px; }
.listado_campo_1_3, .listado_campo_1_3d, .listado_campo_1_3f { width:80px; }
.listado_campo_1_4, .listado_campo_1_4d, .listado_campo_1_4f { width:70px; }
.listado_campo_1_5, .listado_campo_1_5d, .listado_campo_1_5f { width:40px; }
.listado_campo_2_3f, .listado_campo_1_3d, .listado_campo_1_3f, .listado_campo_1_4d, .listado_campo_1_4f, .listado_campo_1_5d, .listado_campo_1_5f { text-align: right; }

.texto, .selector_x05, .selector_x1, .selector_x15, .elemento, .elemento_x1, .elemento_x2, .elemento_x15, .elemento_x05, .elemento_x03, .elemento_x01, .elemento_c {
    font-size: 11px;
}

.icono {
  margin-left: 2px;
  width: 16px;
  height: 16px;
  float: left;
}

.elemento, .elemento_x1 {
    float: left;
    width:190px;
}

.elemento_x2 {
    float: left;
    width:380;
}

.elemento_c {
    text-align: center;
}

.elemento_x05 {
    float: left;
    text-align: right;
    width: 95px;
}

.elemento_x03 {
    float: left;
    text-align: right;
    width: 50px;
}

.elemento_x01 {
    float: left;
    width: 20px;
}

.elemento_x15 {
    float: left;
    width:225px
}

.texto {
    height: 21px;
    width:180px;
}

.selector_x05 {
    min-width: 60px;
    max-width: 95px;
}

.selector_x1 {
    min-width: 105px;
    max-width: 170px;
}

.selector_x15 {
    min-width: 150px;
    max-width: 225px;
}

.importe_grande, .devolver_grande {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    position: relative;
    float: left;
}

.importe_grande {
    color: red;
    width:160px;
}

.devolver_grande {
    color: blue;
    width:320px;
}

.importe_medio {
    font-size: 13px;
    font-weight: bold;
}

.caja_lateral, .caja_completa {
  border:dotted 0px #ccc;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 4px;
  padding: 5px 15px 15px 15px;
  -moz-box-shadow: 2px 2px 4px  gray;
  -webkit-box-shadow: 2px 2px 4px  gray;
  box-shadow: 2px 2px 4px  gray;
  margin: 20 auto 0 auto;
  overflow-x: auto;
}

.contenedor {
}

.formulario_izqda {
    float: left;
    /* height:150px; */
}

.formulario_dcha {
    float: right;
}

.datos_externos {
    float:left;
    width: 420px;
    min-height: 380px;
    overflow-y: scroll;
}

.image_cover {
    width: 200px;
}

#producto_image_container {
    float: left;
    display: block;
    margin: auto;
    /*border: dotted 1px #ccc;*/
    width: 200px;
    padding: 5px;
    text-align: center;
    /*height: 190px;*/
}

#producto_image_label {
    width: 200px;
}

.producto_image_edit {
    width: 200px;
    clear: both;
}

.producto_image_edit img {
    width: 94px;
}

.producto_image_edit div {
    float: left;
    width: 94px;
    height: 158px;
    border: 1px inset;
    padding: 2px;
}

.producto_image_edit div:hover {
    border: 1px dashed;
    cursor: pointer;
}

#producto_descripcion_container {
    /*float: right;*/
    display: block;
    text-align: justify;
    margin: auto;
    padding: 5px;
    max-height: 380px;
}
#producto_descripcion_edit textarea {
    width: 205px;
}
.boton {
    float: right;
}

fieldset {
  border:dotted 0px #ccc;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 4px;
  padding: 5px 15px 15px 15px;
  -moz-box-shadow: 2px 2px 4px  gray;
  -webkit-box-shadow: 2px 2px 4px  gray;
  box-shadow: 2px 2px 4px  gray;
  margin: 20 auto 0 auto;
  overflow-x: auto;
}

legend{
  font-weight:bold;
  color: gray;
  padding: 5 0 0 0;
}

/* MENSAJES DE LA APLICACION */
#mensaje, #mensajeok, #mensajeerror {
  padding: 15 20 10 20 ;
  width: 500;
  min-height: 25px;
  text-align: center;
  margin: 15 auto auto auto;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 2px  #ccc;
  -webkit-box-shadow: 0px 0px 2px  #ccc;
  box-shadow: 0px 0px 2px  #ccc;
}

#mensaje {
  background: #f5f5f5 url(/images/informacion.png) no-repeat scroll 4px 4px;
  padding: 10 20 0 20 ;
  /*border:dotted 1px gray;*/
  color: gray;
  position: fixed;
  bottom: 5;
  right: 5px;
  z-index: 999;
}

#mensajeok {
  background:#DFFFDF url(/images/ok.png) no-repeat scroll 4px 4px;
  /*border:dotted 1px #005F00;*/
  color:#005F00;
}

#mensajeerror{
  background:#FFE3E3 url(/images/error.gif) no-repeat scroll 4px 4px;
  border-color:#DD0000;
  color:#550000;
}

#spinner, .spinner {
  padding: 2em;
  background: transparent url(/images/spinner.gif) 50% 0 no-repeat;
}


/* MENU SUPERIOR */

#barrasuperior{
  height:75px;
  /*background: #333333;*/
  background: #cacaca;
  /* color: #ffffff;*/
  color: #000;
}

#logo{
  background-image: url(/images/logo.png) ;
  width: 78px;
  height: 75px;
  padding: 0px 0px 0px 0px;
  margin: 0 20 0 20;
  float: right;
}

#estado{
  float:left;
  width:700px;
  font-size:25px;
  font-weight: bold;
  padding: 18px 0 0 0;
}

#estado div {
  float: left;
  margin-left:15px;
}

#signed_user{

}

#noresaltado, #divisor {
  color:gray;
}

#resaltado{
  color:white;
}

#secciones{
  list-style: none;
  margin: 0 0px 0 0;
  padding: 9 3;
  height:38px;
  float:left;
}

#secciones li{
  float:left;
  width: 60px;
  height: 38px;
}

#secciones li a{
  text-decoration: none;
}

#secciones li a div{
  padding: 50 0 0 0;
  font-weight:bold;
  font-size: 9px;
  text-align: center;
  color:gray;
}


#seccion_caja div {
  background: url(/images/secciones/caja.png) no-repeat center top ;
}

#seccion_caja div:hover, #seccion_caja div.seleccionado{
  background: url(/images/secciones/caja_seleccionado.png) no-repeat center top ; color: 0;
}

#seccion_productos div {
  background: url(/images/secciones/productos.png) no-repeat center top ;
}

#seccion_productos div:hover, #seccion_productos div.seleccionado{
  background: url(/images/secciones/productos_seleccionado.png) no-repeat center top ; color: 0;
}

#seccion_distribuidora div {
  background: url(/images/secciones/distribuidora.png) no-repeat center top ;
}

#seccion_distribuidora div:hover, #seccion_distribuidora div.seleccionado{
  background: url(/images/secciones/distribuidora_seleccionado.png) no-repeat center top ; color: 0;
}

#seccion_tesoreria div {
  background: url(/images/secciones/tesoreria.png) no-repeat center top ;
}

#seccion_tesoreria div:hover, #seccion_tesoreria div.seleccionado{
  background: url(/images/secciones/tesoreria_seleccionado.png) no-repeat center top ; color: 0;
}

#seccion_trueke div {
  background: url(/images/secciones/trueke.png) no-repeat center top ;
}

#seccion_trueke div:hover, #seccion_trueke div.seleccionado{
  background: url(/images/secciones/trueke_seleccionado.png) no-repeat center top ; color: 0;
}

#seccion_admin div {
  background: url(/images/secciones/admin.png) no-repeat center top ;
}

#seccion_admin div:hover, #seccion_admin div.seleccionado{
  background: url(/images/secciones/admin_seleccionado.png) no-repeat center top ; color: 0;
}

/*BARRA DE MENU DE CONTROLADORES*/

#menucontroladores {
  background:url(/images/submenu_fondo.jpg) repeat-x left top;
  margin:0px auto 0px auto;
  width:1030px;
  height:36px;
  color: #ffffff;
  padding-right:10px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-radius: 7px;
  border-radius: 4px;

  /*-moz-box-shadow: 2px 2px 4px  gray;*/
  -webkit-box-shadow: 2px 2px 4px  gray;
  box-shadow: 2px 2px 4px  gray;

}

#menucontroladores div{
  float: right;
}

#centromenucontroladores{
  margin:0px auto 0px auto;
}

#menucontroladores a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#menucontroladores div.iz{
  background:url(/images/menucontroladores_iz.png) no-repeat right top;
  width:7px;
  height:30px;
}

#menucontroladores div.dc{
  background:url(/images/menucontroladores_dc.png) no-repeat left top;
  width:7px;
  height:30px;
}

#menucontroladores div.fondo{
  padding:11px 15px 0px 15px;
  height:28px;
}
#menucontroladores div.destacado{
  /*    background:url(/images/background_seleccionado.jpg) repeat-x left top;*/
  background: #333;
  padding:11px 15px 0px 15px;
  margin:0;
  height:25px;
}

#menucontroladores div.separador{
  background: url(/images/menucontroladores_separador.png) no-repeat center center;
  padding:0;
  margin:0;
  height:34px;
  width:1px;
}
