<!--- Listado de familias --->

<%= cabecera_listado ["nombre", "iva.nombre"] %>
<% for objeto in @familias %>
  <div class="listadofila">
    <%= fila_listado objeto %>
    <div class="listado_derecha">
      <%= link_to icono('Write',{:title => "Editar"}), :action => :editar, :id => objeto %>
      <%= link_to icono('Trash',{:title => "Borrar"}), :action => :borrar, :id => objeto %>
    </div>
  </div>
<% end %>
<%= final_listado @familias %>

