<html>


<head>
    <title>TPV: Terminal Punto de Venta - <%= controller.controller_name %></title>
    <%= stylesheet_link_tag 'tpv', :media => "all" %>
    <%# javascript_include_tag 'theme.js' %>
    <%= javascript_include_tag 'prototype' %>

    <!--<link rel="icon" type="image/ico" href="/images/favicon.ico" />-->

    <META NAME="copyright" CONTENT="Copyright (C) 2011 Santiago Ramos">

</head>
<body>


<!-- BARRA SUPERIOR DE SECCIONES -->

<div id="superior" class="superior">
</div>

<!-- CONTENIDO DE LAS ACCIONES -->

<div id="centro" class="centro">

  <!-- Mensajes de informacion -->
  <%= mensaje flash[:mensaje] %>
  <%= mensaje_error(flash[:error]) if flash[:error]%>

  <!-- Contenido de cada accion -->
  <%= @content_for_layout %>

</div>
<br>


</body>

</html>
