<html>


<head>
    <title>TPV: Terminal Punto de Venta - <%= controller.controller_name %></title>
    <%= stylesheet_link_tag 'tpv', :media => "all" %>
    <%= stylesheet_link_tag 'modalbox' %>
    <%= javascript_include_tag 'tpv.js' %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'scriptaculous' %>
    <%= javascript_include_tag 'builder' %>
    <%= javascript_include_tag 'effects' %>
    <%= javascript_include_tag 'modalbox' %>

    <!--<link rel="icon" type="image/ico" href="/images/favicon.ico" />-->

    <META NAME="copyright" CONTENT="Copyright (C) 2011 Santiago Ramos">

</head>
<body>


<!-- BARRA SUPERIOR DE SECCIONES -->

<div id="superior" class="superior">
  <ul>
    <li>Uno</li>
    <li>Dos</li>
  </ul>
</div>

<!-- CONTENIDO DE LAS ACCIONES -->

<div id="centro" class="centro">

  <!-- Mensajes de informacion -->
  <%= mensaje flash[:mensaje] %>
  <%= mensaje_error(flash[:error]) if flash[:error]%>

  <!-- Contenido de cada accion -->
  <%= @content_for_layout %>

</div>
<br>


</body>

</html>
