<html>


<head>
    <title>TPV: Terminal Punto de Venta - <%= controller.controller_name %></title>
    <%= stylesheet_link_tag 'tpv', :media => "all" %>
    <%= stylesheet_link_tag 'modalbox' %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'scriptaculous' %>
    <%= javascript_include_tag 'builder' %>
    <%= javascript_include_tag 'effects' %>
    <%= javascript_include_tag 'modalbox' %>
    <%= javascript_include_tag 'carousel-min.js' %>
    <%= javascript_include_tag 'tpv.js' %>
    <%= calendar_date_select_includes :locale => "es" %>
    <%# calendar_date_select_includes :locale => I18n.locale %>

    <!--<link rel="icon" type="image/ico" href="/images/favicon.ico" />-->

    <META NAME="author" CONTENT="Santiago Ramos <sramos@sitiodistinto.net>">
    <META NAME="copyright" CONTENT="Copyright (C) 2011 Santiago Ramos">
    <META NAME="generator" CONTENT="LibreTPV - Version <%= ENV['TPV_VERSION'] %>"> 
</head>
<body>


<div id="cabecera">

<div id="avisos" style="display:none;">
Esto es un aviso
</div>

<!-- BARRA SUPERIOR DE SECCIONES -->

<div id="barrasuperior">
  <div class="fila">
    <div>
    <ul id="secciones">
        <li><a id="seccion_caja" href="/caja/albarans"> <div class="<%= params[:seccion] == 'caja' ? 'seleccionado' : ''%>" > Caja </div> </a> </li>
        <li><a id="seccion_productos" href="/productos/productos/"> <div class="<%= params[:seccion] == 'productos' ? 'seleccionado' : ''%>" > Productos </div> </a> </li>
<!--        <li><a id="seccion_trueke" href="/caja/albarans"> <div class="<%# params[:seccion] == 'trueke' ? 'seleccionado' : ''%>" > Trueke </div> </a> </li> -->
        <li><a id="seccion_tesoreria" href="/tesoreria/caja/"> <div class="<%= params[:seccion] == 'tesoreria' ? 'seleccionado' : ''%>" > Tesorería </div> </a> </li>
        <li><a id="seccion_admin" href="/admin/avisos/"> <div class="<%= params[:seccion] == 'admin' ? 'seleccionado' : ''%>" > Admin </div> </a> </li>
    </ul></div>
    <div id="estado">
      <%= params[:seccion].capitalize + " - " + controlador_rotulo(params[:controller]) %>
    </div>
    <div id="logo"></div>
  </div>
</div>

<!-- BARRA SUPERIOR DE ACCIONES -->

<% unless controladores.empty? %>
  <div id="menucontroladores" >
     <div id="centromenucontroladores">
      <% for controlador in controladores %>
        <div id="controlador_<%= controlador[:controlador] %>" class="<%= (controlador[:controlador] == params[:controller]) ? "destacado"  : "fondo" %>" >
          <%= link_to controlador[:rotulo], :controller => controlador[:controlador] %>
        </div>
        <%= "<div class='separador'></div>" unless controladores.last == controlador %>
      <% end %>
     </div>
  </div>
<% end %>

</div>

<!-- CONTENIDO DE LAS ACCIONES -->

<div id="centro" class="centro">

  <!-- Mensajes de informacion -->
  <%= mensaje_ok flash[:mensaje_ok] if flash[:mensaje_ok] %>
  <%= mensaje_error(flash[:error]) if flash[:error]%>

  <!-- Contenido de cada accion -->
  <%= @content_for_layout %>

  <br/><br/>

</div>

<%= mensaje flash[:mensaje] if flash[:mensaje] %>

<% if (avisos_activos=Avisos.activos).count > 0 %>
  <div id="pie" class="fila">
    <div class="contenido">Hay <%= avisos_activos.count %> aviso<%= "s" if avisos_activos.count > 1 %> pendiente<%= "s" if avisos_activos.count > 1 %>: </div>
    <div id="carousel-wrapper"><div id="carousel-content">
    <% avisos_activos.each do |aviso| %>
      <div class="slide criticidad_<%= aviso.criticidad %>">
        <%= link_to aviso.mensaje, (aviso.url || "") %>
      </div> 
    <% end %>
    <div class="slide criticidad_<%= avisos_activos.first.criticidad %>">
      <%= link_to avisos_activos.first.mensaje, (avisos_activos.first.url || "") %>
    </div>
    </div></div> 
    <script>
      new Carousel('carousel-wrapper', $$('#carousel-content .slide'), $$(), {
        <%= '"auto": "true", "circular": "false", "duration": "3", "frequency": "5"' if avisos_activos.count > 1 %>
      });
    </script>
  </div>
<% end %>


</body>

</html>
